@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');

:root {
  --base-color:#282828;
  --base-white: #F1F1F1;
  --base-bg: #E5E4E2;
  --base-dark-grey: #dbdbdb;
}
*, *::before, *::after {
  box-sizing: border-box;
  /* border: 1px solid brown; */
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--base-white);

  margin: 0;
}
h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
}
h3 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
}
h4 {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
}
p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
hr {
  margin: 0;
  border: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, -1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
header {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-content: center;
}
.nav-header {
  display: flex;
  justify-content: center;
  gap: 5rem;
  
  align-items: center;
  margin-bottom: 2rem;
}
.logo img {
  width: 200px;
}
i {
  cursor: pointer;
}
.share-button-container {
  flex-basis: 20%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.share-button {
  font-size: 1.4rem;
}
.sosmed-logos {
  opacity: 0;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  transition: padding-right, opacity, 0.3s ease-in-out;
}
.sosmed-logos a {
  color: var(--base-color);
  text-decoration: none;
}
.search-button {
  font-size: 1.2rem;
}
.search-button-container {
  flex-basis: 20%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.nav-form {
  opacity: 0;
  margin-right: 0.5rem;
  transition: padding-right, opacity, 0.3s ease-in-out;
  margin: 0;
}
.nav-search {
  padding: 0.5rem;
  border: 1px solid var(--base-color);
}
.nav-button {
  padding: 0.5rem;
  border: 1px solid var(--base-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--base-color);
  color: var(--base-white);
  margin-left: -10px;
}
.nav-button:hover {
  background-color: var(--base-white);
  color: var(--base-color);
  cursor: pointer;
}
.share-button-container:hover .sosmed-logos {
  opacity: 1;
  margin-left: 1.5rem;
}
.search-button-container:hover .nav-form {
  opacity: 1;
  margin-right: 1rem;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar span {
  margin-top: 1rem;
}
.nav-item {
  padding: 1rem;
  padding-inline: 1.5rem;
  border: 1px solid transparent;
  
  font-weight: 700;
  text-transform: capitalize;
  color: var(--base-color);
  transition: all .3s ease-in-out;
}
.nav-item:hover {
  border-left: 1px solid var(--base-white);
  border-right: 1px solid var(--base-white);
  background-color: var(--base-color);
  color: var(--base-white);
  transition: all .3s ease-in-out;
}
#selected {
  background-color: var(--base-color);
  color: var(--base-white);
}
main {
  max-width: 1750px;
  margin: auto;

  display: flex;
  flex-direction: column;
}
.headline-container {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline-bg {
  position: absolute;
  top: 0;
  width: 1400px;
  height: 490px;
  background-color: var(--base-bg);
  z-index: -1;
}
.headline-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item {
  position: relative;
  width: 375px;
  height: 420px;
  overflow: hidden;
}
.grid-item:hover .highlight-img {
  transform: scale(1.05);
  filter: grayscale(200%) contrast(150%) brightness(50%) blur(3px);
  transition: all .5s ease-in-out;
}
.highlight-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
  filter: grayscale(200%) contrast(150%) brightness(50%);
  transition: all .7s ease-in-out;
}
.grid-item h3 {
  position: absolute;
  bottom: 5%;
  left: 10%;
  right: 10%;
  line-height: 2.3rem;
  padding-block: 1rem;
  text-align: center;
}
.grid-item a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: var(--base-white);
}
.grid-item a:hover {
  transition: all .3s ease-in-out;
  color: white;
}
.grid-arrow-left {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  background-color: var(--base-white);
  margin-right: -1.8rem;
  color: var(--base-color);
  font-size: 1rem;
  z-index: 1;
  border: 1px solid transparent;
}
.grid-arrow-left:hover {
  color: var(--base-white);
  background-color: var(--base-color);
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.grid-arrow-right {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  background-color: var(--base-white);
  margin-left: -1.8rem;
  color: var(--base-color);
  font-size: 1rem;
  z-index: 1;
  border: 1px solid transparent;
}
.grid-arrow-right:hover {
  color: var(--base-white);
  background-color: var(--base-color);
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.grid-button {
  margin-top: 0.5rem;
}
.grid-button i {
  font-size: 0.7rem;
  color: var(--base-color);
}
.grid-button i:hover {
  color: darkgray;
}
.content-container {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-inline: 10rem;

  display: flex;
  align-items: flex-start;
  gap: 2rem;
  overflow: hidden;
}
.main-content {
  flex-basis: 70%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-news {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}
.main-news:hover .main-news-img {
  transform: scale(1.02);
  transition: all .5s ease-in-out;
  filter: grayscale(200%) contrast(150%) brightness(50%) blur(3px);
}
.main-news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
  transition: all .7s ease-in-out;
  filter: grayscale(200%) contrast(150%) brightness(50%);
}
.main-news h2 {
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 10%;
  line-height: 4.5rem;
}
.main-news h2 a {
  color: var(--base-white);
  text-decoration: none;
}
.aside-content {
  flex-basis: 40%;

  background-color: var(--base-bg);
  padding: 2rem;

  display: flex;
  flex-direction: column;
}
.aside-title {
  width: 100%;
  padding-block: 1rem;
  text-transform: uppercase;
  background-color: var(--base-dark-grey);
  text-align: center;
}
.aside-title h4 {
  color: var(--base-color);
}
.aside-news {
  margin-top: 2rem;

  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.aside-news-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.aside-news img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 50%;
  filter: grayscale(200%) contrast(150%) brightness(50%);
}
.aside-news p a {
  text-decoration: none;
  color: var(--base-color);
}
.aside-news p a:hover {
  border-bottom: 1px solid var(--base-color);
}
.footer-container {
  margin-block: 2rem;
  padding-inline: 8rem;
  background-color: var(--base-white);

  display: flex;
  align-items: center;
  justify-items: center;
  gap: 29rem;
}
.footer-logo {
  flex-basis: 50%;
}
.footer-logo img {
  width: 45%;
}
.subscription {
  width: 30%;
}
.subscription-title {
  color: var(--base-color);
  font-weight: 700;
}
.subscription-desc {
  color: var(--base-color);
  margin-bottom: 1rem;
}
.subscribe-container {
  margin-bottom: 1rem;

  display: flex;
  justify-content: flex-start;
}
.subscribe-form {
  padding: 1rem;
  width: 80%;
  border: 1px solid var(--base-color);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.subscribe-button {
  padding-inline: 1.5rem;
  background-color: var(--base-color);
  color: white;
  border: 1px solid transparent;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.subscribe-button:hover {
  background-color: var(--base-white);
  border: 1px solid var(--base-color);
  color: var(--base-color);
  cursor: pointer;
}
/* if screen width less than 1550px */
@media screen and (max-width: 1550px) {
  h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
  }
  h4 {
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
  }
  p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
  }
  .headline-bg {
    width: 1100px;
    height: 420px;
  }
  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-item {
    position: relative;
    width: 300px;
    height: 350px;
    overflow: hidden;
  }
  .grid-item h3 {
    line-height: 1.8rem;
  }
  .content-container {
    width: 100%;
    padding-inline: 5rem;
  }
  .main-content {
    flex-basis: 65%;

    align-items: flex-end;
  }
  .main-news {
    width: 730px;
    height: 500px;

    display: flex;
    justify-content: flex-end;
  }
  .main-news-img {
    width: 100%;
    height: 100%;
  }
  .main-news h2 {
    line-height: 3.5rem;
  }
  .aside-content {
    flex-basis: 35%;
  }
  .aside-news img {
    width: 130px;
    height: 130px;
  }
  .footer-container {
    padding-inline: 2rem;

    justify-content: center;
    gap: 8rem
  }
  .footer-logo {
    flex-basis: 50%;
  }
  .footer-logo img {
    width: 40%;
  }
  .subscription {
    flex-basis: 30%;
  }
}

/* if screen width less than 1300px */
@media screen and (max-width: 1300px) {
  h1 {
      font-size: 5rem;
      font-weight: 700;
      margin: 0;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin: 0;
    }
    h3 {
      font-size: 1.4rem;
      font-weight: 800;
      margin: 0;
    }
    h4 {
      font-size: 1rem;
      font-weight: 800;
      margin: 0;
    }
    p {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0;
    }
    .headline-bg {
      width: 950px;
      height: 365px;
    }
    .grid-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .grid-item {
      position: relative;
      width: 250px;
      height: 300px;
      overflow: hidden;
    }
    .grid-item h3 {
      line-height: 1.6rem;
    }
    .main-content {
      flex-basis: 65%;

      align-items: flex-end;
    }
    .main-news {
      width: 600px;
      height: 500px;

      justify-content: flex-end;
    }
    .main-news h2 {
      left: 15%;
      bottom: 15%;
      right: 15%;
      line-height: 2.5rem;
    }
    .aside-news img {
      width: 100px;
      height: 100px;
    }
    .footer-logo {
      flex-basis: 50%;
    }
}

/* if screen width less than 1050px */
@media screen and (max-width: 1050px) {
  h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }
  h3 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
  }
  p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
  }
  hr {
    margin: 0;
    border: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, -1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  main {
    max-width: 650px;
    margin: auto;

    display: flex;
    flex-direction: column;
  }
  .grid-item {
    position: relative;
    width: 400px;
    height: 450px;
    overflow: hidden;
  }

  .grid-item h3 {
    line-height: 2rem;
  }
  .headline-bg {
    position: absolute;
    top: 0;
    width: 550px;
    height: 520px;
    background-color: var(--base-bg);
    z-index: -1;
  }
  .content-container {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-inline: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
  }
  .main-news {
    width: 100%;
    height: 300px;
  }
  .main-news-img {
    width: 100%;
    height: 100%;
  }
  .main-news h2 {
    left: 10%;
    bottom: 15%;
    right: 15%;
    line-height: 2.1rem;
  }
  .aside-content {
    background-color: var(--base-bg);
    width: 100%;

    display: flex;
    flex-direction: column;
  }
  .aside-news img {
    width: 100px;
    height: 100px;
  }
  .footer-container {
    margin-block: 2rem;
    padding-inline: 1rem;

    flex-direction: column-reverse;
    gap: 1rem;
  }
  .footer-logo {
    text-align: center;
  }
  .subscription {
    width: 400px;
    text-align: center;
  }
  .subscription-title {
    font-size: 1.2rem;
  }
  .subscribe-container {
    margin-bottom: 2rem;
  }
  .subscribe-button {
    padding-block: 1rem;
  }
}